.columns
    .burger-menu(data-event="menu") &#9776
    .logo(data-event="menu")
        a(href='index.html')
            img(src="images/logo.svg", alt="logo")
    .navigation(data-mode='full')
        nav
            ul
                li.active
                    a(href='index.html') Главная
                li
                    a(href='portfolio.html') Портфолио
                li
                    a(href='uslugi.html') Услуги и цены
                li
                    a(href='about.html') О нас
                li
                    a(href='contacts.html') Контакты
    .social
        ul
            li
                a(href='#')
                    span.icon.icon-vk.icon-vk-dims
            li
                a(href='#')
                    span.icon.icon-fb.icon-fb-dims