<!DOCTYPE html>

html(lang="ru")
    head
        include _head
    body
        .wrapper
            .content
                header.header
                    .container
                        include _header
                main.main
                    <!-- Блок - заголовок -->
                    section
                        .bg-block.bg-block_slogan-uslugi
                            .block-opacity.block-opacity_small
                                .container
                                    .block-opacity__title
                                        .text38 Команда опытных специалистов AlphaWrite
                    <!-- END Блок - заголовок -->
                    <!-- На сегодня AlphaWrite — одна из ведущих компаний -->
                    section
                        .block.block-text.block-grey
                            .container
                                .block-text__body
                                    .text22 На сегодня AlphaWrite — одна из ведущих компаний на рынке контент-менеджмента и тек. Контент-менеджеры, копирайтеры, переводчики, рерайтеры, интеренет-маркетологи, дизайнеры — мощный и единый коллектив профессионалов, способных воплотить в жизнь проекты любой сложности.
                    <!-- END На сегодня AlphaWrite — одна из ведущих компаний -->
                    <!-- НАШИ ЦЕЛИ, ПОЧЕМУ МЫ? -->
                    section
                        .block.block-text-column
                            .container-overflow
                                .text-column-list.text-column-list_2
                                    .text-row
                                        .text-column
                                            .text-column__container
                                                .text-column__wrap
                                                    .text-column__header
                                                        .text-column__title
                                                            .text40-u Наши цели
                                                    .text-column__body
                                                        .text18
                                                            p Главной целью нашей команды является сплаченая работа над созданием не только уникального и грамотного описания любого вида товара, но и представление самого продукта максимально привлекательно. От того, на сколько профессионально будет выполнена работа агентства по написанию текстов, зависит успех Вашего бизнеса, в том числе рост клиентской базы и, соответственно, Ваша прибыль.
                                                            p Мы следуем лучшим мировым трендам. Умеем слушать и слышать наших клиентов. Видим суть и находим яркие решения для каждого проекта.
                                        .text-column.text-column-image
                                            img(src="images/content/our-goals.jpg")
                                    .text-row
                                        .text-column
                                            .text-column__container
                                                .text-column__wrap
                                                    .text-column__header
                                                        .text-column__title
                                                            .text40-u Почему мы?
                                                    .text-column__body
                                                        .text18
                                                            p «AlphaWrite» – это уникальное агентство, в приоритете которого стоит решение интернет — маркетинговых задач. Мы объединяем сразу несколько направлений и предоставляем своим заказчикам полный спектр услуг в области создания уникального контента и текстов.
                                                            p Мы уже 8 лет работаем в сфере и знаем все нюансы своей работы!
                                                            p В нашем портфолио более 70 проектов различных направлений от текстов до ведени групп и наполнения сайтов.
                                        .text-column.text-column_image
                                            img(src="images/content/our-goals.jpg")
                    <!-- END НАШИ ЦЕЛИ, ПОЧЕМУ МЫ? -->
                    <!-- Агентство с высококвалифицированными сотрудниками -->
                    section
                        .block.block-text.block-grey.block-text_small
                            .container
                                .block-text__body
                                    .text22 Если Вы ищите агентство с высококвалифицированными сотрудниками, доступными ценами и максимальной отдачей со стороны исполнителя - добро пожаловать в студию продающих текстов Alfawrite!
                    <!-- END Агентство с высококвалифицированными сотрудниками -->
                    <!-- Свяжитесь с нами -->
                    section
                        .bg-block.bg-block_contacts-small
                            .bg-block__body
                                .container
                                    .form-block
                                        .form-block__title.text-center
                                            .text40 Свяжитесь с нами!
                                        .form-block__slogan.text-center
                                            .text24 Мы ответим в течении 10 минут
                                        .form-block__body
                                            form()
                                                .form-box-list
                                                    .form-box
                                                        fieldset
                                                            input(type="email", placeholder="Email")
                                                        fieldset
                                                            .file-input
                                                                .file-input__wrap
                                                                    input(type="file")
                                                                    .file-input__label Файл
                                                                    .btn-input Обзор
                                                                .clear
                                                    .form-box
                                                        textarea(placeholder="Сообщение")
                                                .form-button
                                                    button.btn ОТПРАВИТЬ

                    <!-- END Свяжитесь с нами -->
                    <!-- END Агентство с высококвалифицированными сотрудниками -->
                    <!-- Социальные сети -->
                    section
                        .block.block-social
                            .container
                                .social-list
                                    .social-item
                                    .social-item
                                    .social-item
                    <!-- END Социальные сети -->
            include _footer
        include _scripts