<!DOCTYPE html>

html(lang="ru")
    head
        include _head
    body
        .wrapper
            .content
                header.header
                    .container
                        include _header
                main.main
                    <!-- Актуальные и доступные цены -->
                    section.bg-block.bg-block_slogan-uslugi
                        .block-opacity.block-opacity_small
                            .container
                                .block-opacity__title
                                    .text38 Актуальные и доступные цены. <br/>Большой спектр услуг
                    <!-- END Актуальные и доступные цены -->
                    <!-- Что мы готовы предложить? -->
                    section
                        .block.block-default.block_to-offer
                            .container
                                .block__title
                                    .text30 Что мы готовы предложить?
                                .block__body
                                    .price-list
                                        .price-list-item
                                            .price-list-item__wrap
                                                .price-list-item__head
                                                    .price-list-item__icon
                                                        span.icon.icon-content-black.icon-content-black-dims
                                                    .price-list-item__title
                                                        .text20 Контент-менеджмент
                                                .price-list-item__body
                                                    .price-list-item__description
                                                        .text16 Мы создаем копирайтинг, который легок и приятен в чтении, а так же экономит Ваше время. Интернет - копирайтинг, рекламные тексты, пресс - релизы, seo - это то, что необходимо для Вашего успеха в бизнесе.
                                                .price-list-item__footer
                                                    .price-list-item__price
                                                        .text18-u цена
                                        .price-list-item
                                            .price-list-item__wrap
                                                .price-list-item__head
                                                    .price-list-item__icon
                                                        span.icon.icon-translate-black.icon-translate-black-dims
                                                    .price-list-item__title
                                                        .text20 Перевод
                                                .price-list-item__body
                                                    .price-list-item__description
                                                        .text16 Эффективный перевод - залог успеха компании, которая работает не только в пределах своей страны, но и за рубежом. Наши копирайтеры специализируются на переводах с английского, французского, итальянского и других языках.
                                                .price-list-item__footer
                                                    .price-list-item__price
                                                        .text18-u цена
                                        .price-list-item
                                            .price-list-item__wrap
                                                .price-list-item__head
                                                    .price-list-item__icon
                                                        span.icon.icon-copyright-black.icon-copyright-black-dims
                                                    .price-list-item__title
                                                        .text20 Копирайтинг
                                                .price-list-item__body
                                                    .price-list-item__description
                                                        .text16 Мы создаем копирайтинг, который легок и приятен в чтении, а так же экономит Ваше время. Интернет - копирайтинг, рекламные тексты, пресс - релизы, seo - это то, что необходимо для Вашего успеха в бизнесе.
                                                .price-list-item__footer
                                                    .price-list-item__price
                                                        .text18-u цена
                                        .price-list-item
                                            .price-list-item__wrap
                                                .price-list-item__head
                                                    .price-list-item__icon
                                                        span.icon.icon-refactoring-black.icon-refactoring-black-dims
                                                    .price-list-item__title
                                                        .text20 Рерайтинг
                                                .price-list-item__body
                                                    .price-list-item__description
                                                        .text16 Выявление и исправление различных ошибок в Вашем тексте. В том числе грамматические, логические, орфографические и другие ошибки. У нас это займет не много времени, но качеством работы Вы останетесь довольны.
                                                .price-list-item__footer
                                                    .price-list-item__price
                                                        .text18-u цена
                    <!-- END Что мы готовы предложить? -->
                    <!-- Свяжитесь с нами -->
                    section
                        .bg-block.bg-block_contacts-small
                                .bg-block__body
                                    .container
                                        .form-block
                                            .form-block__title.text-center
                                                .text40 Свяжитесь с нами!
                                            .form-block__slogan.text-center
                                                .text24 Мы ответим в течении 10 минут
                                            .form-block__body
                                                form()
                                                    .form-box-list
                                                        .form-box
                                                            fieldset
                                                                input(type="email", placeholder="Email")
                                                            fieldset
                                                                .file-input
                                                                    .file-input__wrap
                                                                        input(type="file")
                                                                        .file-input__label Файл
                                                                        .btn-input Обзор
                                                                    .clear
                                                        .form-box
                                                            textarea(placeholder="Сообщение")
                                                    .form-button
                                                        button.btn ОТПРАВИТЬ

                    <!-- END Свяжитесь с нами -->
                    <!-- Социальные сети -->
                    section
                        .block.block-social
                            .container
                                .social-list
                                    .social-item
                                    .social-item
                                    .social-item
                    <!-- END Социальные сети -->
            include _footer
        include _scripts